<% if notice %>
  <div class="mb-2 toast hide border-primary" data-controller="toast">
    <div class="toast-header text-primary">
      <strong class="me-auto"><%= icon_with_text('check-circle', '成功') %></strong>
      <button class="btn-close" data-bs-dismiss="totas">
    </div>
    <span class="toast-body"><%= notice %></span>
  </div>
<% end %>

<% if alert %>
  <div class="mb-2 toast hide border-danger" data-controller="toast">
    <div class="toast-header text-danger">
      <strong class="me-auto"><%= icon_with_text('exclamation-circle', 'エラー') %></strong>
      <button class="btn-close" data-bs-dismiss="totas">
    </div>
    <span class="toast-body"><%= alert %></span>
  </div>
<% end %>
